[submodule "src/intrinsic_fewshot_hardness"]
	path = src/intrinsic_fewshot_hardness
	url = git@github.com:colinzhaoust/intrinsic_fewshot_hardness.git
[submodule "src/gptfuzz"]
	path = src/gptfuzz
	url = git@github.com:sherdencooper/GPTFuzz.git
[submodule "src/scalene"]
	path = src/scalene
	url = git@github.com:cochaviz/scalene.git
